.map {
  margin-top: 30px;
  width: 80vw;
}

.mapContainer,
.mapBox {
  margin: 10px auto;
  width: 95%;
  height: 60vh;
  border-radius: 15px;
}

.mapboxgl-popup {
  color: #000000;
}

.popup p {
  font-size: 15px;
  padding: 5px;
  margin: 0px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.mapboxgl-popup-content {
  border-radius: 20px;
  color: black;
  border: 2px solid yellowgreen;
}

#map_title {
  margin-bottom: 45px;
  color: aliceblue;
}

@media (min-width: 700px) {
  .map {
    margin-top: 30px;
  }
}

@media (min-width: 1100px) {
  .map {
    
    width: 60vw;
    height: 87vh;
  }

  .mapContainer,
  .mapBox {
    margin: 10px auto;
    width: 95%;
    height: 70vh;
    border-radius: 15px;
  }
}
