#homeFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
}

.homes {
  position: relative;
  top: 70px;
}

@media (min-width: 1230px) {

  #covid_data {
    flex: 1;
    max-width: 50vw;
  }

  #homeFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
  }
}

@media(min-width: 800px){
  .homes {
    position: relative;
    top: 100px;
  }
}
